#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
.app__header {
  position: relative;
  z-index: 2;
  width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 20px black;
  display: flex;
  justify-content: space-between;
}
.header__clockbar {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
}
.clock-text {
  padding: 15px;
  border-radius: 3px;
  background: #dae1e7;
  display: inline-block;
}
.smalltext {
  padding-top: 5px;
  font-size: 16px;
}
.clockbars {
  border-radius: 3px;
  padding: 10px;
  background: #00909e;
  display: inline-block;
}

/* app contents */
.app__contents {
  position: relative;
  z-index: 2;
  width: 1000px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  background: chocolate;
  margin-top: 0px;
  margin-bottom: 0px;
}
