:root {
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* GREETING (PART1)*/
.greeting {
  background-color: hotpink;
  height: 250px;
  width: 800px;
  display: flex;
  transform: translateY(100px);
}

.greeting__left-avata {
  position: relative;
  height: 250px;
  width: 300px;
}

.greeting__right {
  width: 500px;
  height: 250px;
  background-color: yellow;
}
.inner {
  width: 100%;
  height: 50%;
}

.greeting__before {
  background-color: blue;
}

.greeting__before2 {
  background-color: black;
}

/* CONTENTS_MAIN (PART2) */

.contents_main {
  width: 800px;
  height: 400px;
  background-color: violet;
  transform: translateY(100px);
  display: flex;
}

.main__right {
  background-color: teal;
  height: 400px;
  width: 400px;
  flex: 1;
}
.main__left {
  background-color: beige;
  height: 400px;
  width: 400px;
}
